body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-shadow: 3px 3px black;
  text-align: center;
  background-color: rgb(255, 81, 0);
  color: white;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: blue;
  border-top: 1px dashed #000000;
}

.past {
  background-color: lightseagreen;
  color: white;
}

.present {
  background-color: yellow;
  color: white;
}

.future {
  background-color: green;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
input {
  position: absolute;
  width: 150px;
  height: 20px;
  color: white;
}
input:before {
  position: absolute;
  top: 3px;
  left: 3px;
  content: attr(data-date);
  display: inline-block;
  color: black;
}
input::-webkit-datetime-edit,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
}
input::-webkit-calender-picker-indicator {
  position: absolute;
  top: 3px;
  right: 0;
  color: black;
  opacity: 1;
}
.clock {
  width: 260px;
  margin: 0 auto;
  padding: 30px;
  color: #fff;
  background: #333;
}
.clock ul {
  width: 250px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
}

.clock ul li {
  display: inline;
  font-size: 3em;
  text-align: center;
  font-family: "Arial", Helvetica, sans-serif;
  text-shadow: 0 2px 5px #55c6ff, 0 3px 6px #55c6ff, 0 4px 7px #55c6ff;
}
#Date {
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 26px;
  text-align: center;
  text-shadow: 0 2px 5px #55c6ff, 0 3px 6px #55c6ff;
  padding-bottom: 40px;
}

#point {
  position: relative;
  -moz-animation: mymove 1s ease infinite;
  -webkit-animation: mymove 1s ease infinite;
  padding-left: 10px;
  padding-right: 10px;
}

/* Animasi Detik Kedap - Kedip */
@-webkit-keyframes mymove {
  0% {
    opacity: 1;
    text-shadow: 0 0 20px #00c6ff;
  }
  50% {
    opacity: 0;
    text-shadow: none;
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 20px #00c6ff;
  }
}
